::-webkit-scrollbar {
        display: none;
    }

::-moz-scrollbar {
        display: none;
    }

@font-face {
 font-family:lato_regular;
 src: url("Lato/Lato-Regular.ttf");
}


@font-face {
 font-family:lato_light;
 src: url("Lato/Lato-Light.ttf");
}

@font-face {
 font-family:lato_bold;
 src: url("Lato/Lato-Bold.ttf");
}




body{
  font-size: 17px;
  font-family: lato_regular;
  background-color: #d0d3c5;
}


#first_frame{
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #d0d3c5;
}


.navbar{
  background-color: #222222;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 6px 10px 6px rgba(3,43,47,1);
  -moz-box-shadow: 0px 6px 10px 6px rgba(3,43,47,1);
  box-shadow: 0px 6px 10px 6px rgba(3,43,47,1);
}

.navbar-brand{
  -webkit-transition: .3s;
  transition: .3s;
}

/*.navbar-brand:hover{
  background-color: red;
  border-bottom: 4px solid #11a8ab;
}*/

.hover_class{
  -webkit-transition:  .3s;
  transition:  .3s;
}

.hover_class:hover{
  background-color: red;
  border-bottom: 4px solid #11a8ab;
}

.my_footer_class{
  background-color: #222222;
  border-radius:5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  color: white;
  margin-bottom: 25px;

}

.my_card_style{
    background-color: white;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color: black;
    margin-bottom: 25px;
    opacity: .73;
}

.my_card_style_2{
    background-color: white;
    border-radius:5px;
    transition: 0.3s;
    color: black;
    margin-bottom: 25px;
    opacity: .73;
    -webkit-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.66);
}

.my_card_style:hover {
    opacity: 1;
    background: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.37);
    transition: 0.3s;
}


.button_style{
  border-radius: 5px;
  background-color:#08708a;
  color: white;
  transition: 0.3s;
  padding: 10px;
  border: none;
}

.button_style:hover{
  background-color:#0F9295;
  color: white;
  transition: 0.3s;
}

.button_style:focus,.button_style:active {
   outline: none !important;
   box-shadow: none;
}


#second_frame{
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color:#d0d3c5;
}

#third_frame{
  position: absolute;
  top:0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #d0d3c5;

}

.chip {

    color: white;
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #032b2f;
    transition: 0.3s;
}

.chip:hover{
  background-color:#08708a;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.chip img {
    float: left;
    margin: 0 10px 0px -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.btn{
  background-color:#222222;
}

.popover{
  border-radius: 25px;

  width: 300px ;
  background-color:#222222;
  z-index: 3;
  border: none;
  margin-right: 25px;
}

.popover-content{
  padding-bottom: 0px;
  padding-top: 0px;

}

.hover_change_back{
  border-radius: 25px;
  transition: 0.3s;
}

.hover_change_back:hover{

  cursor: pointer;
  background: #08708a;
  transition: 0.3s;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.clear_it_when_small{
  height: 70px;
}

@media all and (max-width: 500px) {

  .clear_it_when_small{
    height: 0px;
  }

  #animate_down{
    display: none;
  }

  #iframe_value{
    height: 500px;
  }

}

.margin_it{
  margin-right: 10px;
}

.regularLatto{
  font-family: lato_regular;
}

.boldLatto{
  font-family: lato_bold;

}

.lightLatto{
  font-family: lato_light;
}
