
body{
  color: black;
}
h2 {
  margin: 0 0 6px 0;
  font-weight: none;
}
h6 {
  color: white;
  margin: 2px 0 20px 0;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {

  color: black;
  font-size: 13px;
  font-weight: normal;
}
.well {
  border: none;
  background: #f8f8f8;
  margin-bottom: 0;
}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#login label {
  margin-left: 2px;
}
#login form {
  width: 320px;
  -webkit-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 32px -6px rgba(0,0,0,0.66);
}
#login .controls {
  margin-top: 20px;
}
#login .controls .button-rememember-me {
  float: left;
  width: 150px;
}
#login .controls .button-sign-in {
  float: right;
  width: 120px;
}
#login .btm-links {
  font-size: 0.8em;
  margin: 2px 0 0 0;
}
#login .btm-links #forgot-password {
  float: left;
  margin-left: 10px;
}
#login .btm-links #create-account {
  float: right;
  margin-right: 5px;
}

#account-form-container form {
  width: 460px;
}
/*
	modal windows
*/
.modal .modal-dialog {
  top:10%;
  width: 50%;
}


@media all and (max-width: 700px) {
  .modal .modal-dialog {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;

  }


}



.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: 80px;
}


.center-vertical_1 {
  height: 100vh;
}
.center-vertical_1 form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-vertical {
  height: 100vh;
}
.center-vertical form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: 80px;
  margin-left: 6px;
}
.form-horizontal input,
.form-horizontal select {
  height: 30px;
}
